<div id="follow-icons">

<!-- Stack Exchange -->
<!-- If a boxed icon doesn't exist in Font Awesome, make one yourself like this: -->
<!--
	<a class="subscribe icon-feed" href="link_location">
		<span class="fa-stack">
		  <i class="fa fa-square fa-stack-2x"></i>
		  <i class="fa fa-stack-exchange fa-stack-1x fa-inverse"></i><span class="tooltip">Subscribe!</span>
		</span>
	</a>
-->




	<a class="fa fa-trans fa-twitter-square fa-2x" href="http://twitter.com/username"></a>
	<a class ="fa fa-trans fa-linkedin-square fa-2x" href="http://linkedin.com/in/username"></a>

<a class="fa fa-trans fa-github-square fa-2x" href="http://github.com/username"></a>

<a class="fa fa-trans fa-envelope fa-2x " href="http://github.com/username"></a>
<a class="fa fa-trans fa-stack-exchange fa-2x " href="http://github.com/username"></a>

<!-- This looks bad with trans -->
	<a href="mailto:you@example.com">
		<span class="fa-stack">
		  <i class="fa fa-trans fa-square fa-stack-2x"></i>
		  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
		</span>
	</a>


	<a href="mailto:you@example.com">
		<span class="fa-stack">
		  <i class="fa-square fa-stack-2x"></i>
		  <i class="fa fa-envelope fa-stack-2x fa-inverse"></i>
		</span>
	</a>

	<!-- fa doesn't do anything and fa-2x blow up the icon... want a background square? add a class -->


<!-- 
Find available icons from Font Awesome to customize here:
http://fortawesome.github.io/Font-Awesome/icons/
 -->

<!-- We need our own classes n things -->

<!-- Let's get a tooltip on these! -->



</div>                                                                  

				

<!--
<a href="http://github.com/username"><i class="fa fa-github-square fa-2x"></i></a>
<a href="http://plus.google.com/+username"><i class="fa fa-google-plus-square fa-2x"></i></a>
<a href="http://instagram.com/username"><i class="fa fa-instagram fa-2x"></i></a>
<a href="http://vimeo.com/username"><i class="fa fa-vimeo-square fa-2x"></i></a>
<a href="http://youtube.com/username"><i class="fa fa-youtube-square fa-2x"></i></a>
<a href="http://flickr.com/username"><i class="fa fa-flickr fa-2x"></i></a>
<a href="http://pinterest.com/username"><i class="fa fa-pinterest-square fa-2x"></i></a>
<a href="http://username.tumblr.com"><i class="fa fa-tumblr-square fa-2x"></i></a>
-->